
[General]
devices = HT_1,HT_2,HT_3,HT_4
plot_refresh_interval_s = 60
device_sample_interval_s = 10
default_hours_view = 48

[HT_1]
mac = 58:2D:34:3A:94:55
identifier = blue
location = greenhouse
temp_offset = 0.0
humid_offset = -0.05

[HT_2]
mac = 58:2D:34:3A:AE:9A
identifier = green
location = living room
temp_offset = -0.1
humid_offset = 0.8

[HT_3]
mac = 58:2D:34:36:F0:B4
identifier = red
location = bedroom
temp_offset = -0.1
humid_offset = 0.13

[HT_4]
mac = 58:2D:34:36:F3:A7
identifier = black
location = basement
temp_offset = 0.2
humid_offset = -1
