
[General]
devices = HT_1,HT_2
plot_refresh_interval_s = 60
device_sample_interval_s = 10
default_hours_view = 48
show_current_temp_for_device = HT_2

[HT_1]
mac = 58:2D:34:3A:94:55
identifier = blue
location = Drivhus
temp_offset = 0.05
humid_offset = -0.4

[HT_2]
mac = 58:2D:34:3A:AE:9A
identifier = green
location = Stue
temp_offset = -0.05
humid_offset = 0.4
